@model List<Mesajlar>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPanel.cshtml";
}

<table class="table table-striped">
    <thead>
        <tr>
            <th>Gönderen</th>
            <th>Konu</th>
            <th>Mesaj</th>
            <th>İşlemler</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Gonderen</td>
                <td>@item.Konu</td>
                <td>@item.Icerik</td>
            </tr>
        }
    </tbody>
</table>

