@model List<Hareket>
@{
    ViewBag.Title = "Kitaplarım";
    Layout = "~/Views/Shared/_LayoutPanel.cshtml";
}

<h2>Kitaplarım</h2>

<table class="table table-hover table table-striped mt-3">
    <thead style="font-weight:bold">
        <tr>
            <td>Kitap Adı</td>
            <td>Alış Tarihi</td>
            <td>İade Tarihi</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Kitap1.Ad</td>
                <td>@Convert.ToDateTime(item.AlisTarihi).ToString("dd/MM/yyyy")</td>
                <td>@Convert.ToDateTime(item.UyeGetirTarih).ToString("dd/MM/yyyy")</td>
            </tr>
        }
    </tbody>
</table>