@model List<Kategori>
<ul class="list-unstyled mb-0">
    <li>
        @*@Html.RouteLink("All", "HomeDefault")*@
    </li>
    @foreach (var item in Model)
    {
        <li>
            <a href="@Url.Action("Show","Kategori",new { katid = item.Id, slugg = item.Slug})">@item.Ad</a>
        </li>

    }
</ul>
